@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
}
#int1{
    width: 100%;
    height: 100vh;
    background-image: url(images/interier.webp);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
#badyS{
    width: 100%;
    height: 100vh;
    background-image: url(images/image-1.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
#bady3{
    width: 100%;
    height: 100vh;
    background-image: url(images/image-2.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
#badyX{
    width: 100%;
    height: 100vh;
    background-image: url(images/image-3.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
#badyY{
    width: 100%;
    height: 100vh;
    background-image: url(images/image-4.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
}
nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 320px;
    cursor: pointer;
}
nav ul{
    flex:1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s all;
}
nav ul li:hover{
    transform: scale(1.2);
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav .btn{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 30px;
    margin-right: 5px;
    border-radius: 20%;
}
nav .btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 50px;
    left: 0;
}
.info div{
    margin: 0 20px;
}
.info div h2{
    font-size: 44px;
    font-weight: 400;
}
.spojovak{
    flex: 1;
    background: white;
    height: 4px;
}
.container{
    margin-top: 200px;
    border: 2px solid black;
    height: 500px;
    width: 400px;
    /* margin-left: 300px; */
    margin-left: 25%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;

    
}
.container button{
    width: 150px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
}
.container button:hover{
    background-color: darkgray;
}
.logoo{
    width: 320px;

}
.bady5{
    background-color: white;
}
.auto{
    height: 400px;
    display: flex;
    margin-top: 300px;
    margin-right: 25%;
}
.rodice{
    /* border: 2px solid black; */
    height: 900px;
    display: flex;
    width: 100%;
    margin-left: 0px;
    justify-content: space-around;
}
.textos{
    font-size: 25px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    width: 1300px;
    top: 150px;
    position: absolute;
}
.navos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tlacitko_zpet{
    margin-right: 2dvi;
    width: 150px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
}
.tlacitko_zpet:hover{
    background-color: darkgray;
}
.popup{
   width: 400px;
   background: white; 
   border: 2px solid black;
   border-radius: 6px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:white;
    border: 0;
    outline:none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.foot{
    background: silver;
    color: dark;
    position: relative;
    display: flex;
    width: 100%;
    left:0vh;
    height: 40px;
    top: 100vh;
    justify-content: space-evenly;
    align-items: center;
}
.interier{
    display: flex;
    /* border: 2px solid wheat; */
    height: 900px;
    /* width: 600px; */
    /* margin-top: 700px; */
    flex-direction: column;
    align-items:center;
    justify-content: end;
}
.interier h2{
    font-size: 50px;
    font-weight: 500;
    color: white;
}
.interier p{
    color: white;
    font-size: 20px;
}
